.header{
 color: white;
 font-size: 40px;
 font-weight: bold;
}

.content {
  display: flex;
  align-items:  center;
  padding: 0 50px;
  min-height: calc(100vh - 64px - 70px);
}

.shortener {
  width: 100%;
  background: #fff;
  padding: 24px 20px;
}

.linkField {
  display: flex;
  width: 100%;
}

.linkFieldInput {
  flex: 100%;
  margin-right: 16px;
}

.linkFieldButton {
  width: 90px;
}

.footer {
  text-align: center;
}

.linkAlert .linkContent{
  margin-bottom: 0px;
}